<h1>Product Catalog</h1>

<p>This component demonstrates fetching products from the server.</p>

<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="products">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Color</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>MadeIn</th>
            <th>Tags</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.ProductID }}</td>
            <td>{{ product.Name }}</td>
            <td>{{ product.Color }}</td>
            <td>{{ product.Price }}</td>
            <td>{{ product.Quantity }}</td>
            <td>{{ product.MadeIn }}</td>
            <td>{{ product.Tags }}</td>
            <td><product-details [productId] = "product.ProductID"></product-details></td>
            <td><span class='glyphicon glyphicon-pencil'></span></td>
            <td><span class='glyphicon glyphicon-remove'></span></td>
        </tr>
    </tbody>
</table>
