<div class="container" *ngIf="product">
    <div class="col-md-12">
        <h1 style ="padding-bottom: 50px">Change Product's Details</h1>
    </div>
    <form #productForm="ngForm">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label for="name" class="col-md-2">Name:</label>
                <div class="col-md-6">
                    <input id="name" name="name" type="text" class="form-control"
                           required
                           #name="ngModel"
                           [(ngModel)]="product.Name" />
                </div>
                <div *ngIf="name.errors && (name.dirty || name.touched)"
                     style="color:red;">
                    <div [hidden]="!name.errors.required">
                        Name is required
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="color" class="col-md-2">Color:</label>
                <div class="col-md-6">
                    <input id="color" name="color" type="text" class="form-control"
                           required
                           #color="ngModel"
                           [(ngModel)]="product.Color" />
                </div>
                <div *ngIf="color.errors && (color.dirty || color.touched)"
                     style="color:red;">
                    <div [hidden]="!color.errors.required">
                        Color is required
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="price" class="col-md-2">Price:</label>
                <div class="col-md-6">
                    <input id="price" name="price" type="text" class="form-control"
                           required
                           #price="ngModel"
                           [(ngModel)]="product.Price" />
                </div>
                <div *ngIf="price.errors && (price.dirty || price.touched)"
                     style="color:red;">
                    <div [hidden]="!price.errors.required">
                        Price is required
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="quantity" class="col-md-2">Quantity:</label>
                <div class="col-md-6">
                    <input id="quantity" name="quantity" type="text" class="form-control"
                           required
                           #quantity="ngModel"
                           [(ngModel)]="product.Quantity" />
                </div>
                <div *ngIf="quantity.errors && (quantity.dirty || quantity.touched)"
                     style="color:red;">
                    <div [hidden]="!quantity.errors.required">
                        Quantity is required
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2"></label>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success pull-right" (click)="editProduct()"
                            [disabled]="productForm.form.invalid">
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>