<div class ="container" *ngIf ="product">
<div class="col-md-12">
    <h1 style ="padding-bottom: 50px">Product Details</h1>
</div>
<div class="col-md-12">
        <div class="form-group col-md-12">
            <label class="col-md-2">Name:</label>
            <div class="col-md-6">
                <label>{{product.Name}}</label>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="col-md-2">Color:</label>
            <div class="col-md-6">
                <label>{{product.Color}}</label>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="col-md-2">Price:</label>
            <div class="col-md-6">
                <label>{{product.Price}}</label>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="col-md-2">Quantity:</label>
            <div class="col-md-6">
                <label>{{product.Quantity}}</label>
            </div>
        </div>
    </div>
</div>